.content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    grid-auto-flow: row;
}

.headerTask {
    justify-content: space-around;
    background-color: lightblue;
    height: 60px;
}

.headerTask, .taskBox {
    display: flex;
    border: 1px solid black;
}

.taskBox {
    background-color: rgb(222, 241, 241);
    height: 40px;
    justify-content: space-around;
    padding: 0 10px;    
    align-items: center;
}

.projectBox:hover {
    background-color: greenyellow;
}

.checkbox-div {
    display: flex;
    align-items: center;
}
